<!doctype html>
<html ng-app="app">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="C:\Angular UI Project\bower-ui-grid-master\ui-grid.js"></script>
    <link rel="stylesheet" type="text/css" href="C:\Angular UI Project\bower-ui-grid-master\ui-grid.css">
    <link rel="stylesheet" type="text/css" href="C:\Angular UI Project\main.css">
    <script src="C:\Angular UI Project\app.js"></script>
  </head>
  <body>
    <div ng-controller="MainCtrl">
      <br>
      <input ng-model='filterValue'/><button ng-click='filter()'>Filter</button>

      <br>
      <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav class="grid"></div>
    </div>
  </body>
</html>
